<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="font-bold tracking-wide text-red-500 text-6xl mb-6">
        Lasagnoli
      </h1>
      <h2 class="tracking-widest text-4xl">
        A recipe for success...
      </h2>
      <span class="content__container block font-light text-browngray text-2xl my-6">
        <ul class="content__container__list">
          <li class="content__container__list__item xl:pl-3">Autonomous teams</li>
          <li class="content__container__list__item xl:pl-3">DRY code</li>
          <li class="content__container__list__item xl:pl-3">Fullstack mindset</li>
          <li class="content__container__list__item xl:pl-3">Consistent tooling</li>
          <li class="content__container__list__item xl:pl-3">Developer mobility</li>
          <li class="content__container__list__item xl:pl-3">Modular CI/CD</li>
          <li class="content__container__list__item xl:pl-3">High rate of change</li>
        </ul>
      </span>
      <p class="tracking-widest text-4xl">...which ever way you want to slice it!</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/lasagnoli.webp" alt="Pasta paradigm by decade">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-red-500 rounded-full shadow-md text-lg hover:bg-red-700 hover:border-red" href="#about">
    Dig in...
  </a>
</div>
